@import "tailwindcss";
@import "./styles.css";

.main-article {
  h1,h2,h3,h4 {
    font-family: var(--font-title);
    @apply mt-4;
  }

  h1::before, h2::before, h3::before, h4::before {
    translate: calc(-100% - 5px);
    transition: opacity .2s;
    @apply content-['#'] absolute opacity-0 text-muted-foreground font-semibold;
  }

  h1:hover::before, h2:hover::before, h3:hover::before, h4:hover::before {
    @apply opacity-100;
  }


  h1 {
    @apply text-4xl font-bold mb-4;
  }

  h2 {
    @apply text-3xl font-semibold mb-3;
  }

  h3 {
    @apply text-2xl font-semibold mb-2;
  }

  h4 {
    @apply text-xl font-semibold mb-2;
  }

  mark {
    @apply bg-yellow-300 text-black px-1 rounded;
  }

  p {
    @apply mb-4 leading-relaxed;
  }

  a {
    @apply text-blue-400 hover:underline;
  }

  hr {
    @apply my-8 text-gray-700 w-[calc(100%+2rem)] -mx-4;

    &.footnotes-sep {
      @apply mt-16 mb-2;
    }
  }

  ul {
    @apply list-disc list-inside mb-4;

    &.contains-task-list {
      @apply list-none;
      & > li {
        @apply flex items-start gap-2;
      }
    }

    li > ul, li > ol {
      @apply ml-5;
    }

    & > li > ul {
      @apply list-[circle];

      & > li > ul {
        @apply list-[square];
      }
    }

    & > li > ol {
      @apply list-[lower-roman];
      
      & > li > ol {
        @apply list-[lower-alpha];
      }
    }
  }

  ol {
    @apply list-decimal list-inside mb-4;

    li > ul, li > ol {
      @apply ml-5;
    }

    & > li > ul {
      @apply list-[circle];

      & > li > ul {
        @apply list-[square];
      }
    }

    & > li > ol {
      @apply list-[lower-roman];
      
      & > li > ol {
        @apply list-[lower-alpha];
      }
    }

    &.footnotes-list {
      @apply p-2 m-0;
      li p {
        @apply inline-block mb-2;
      }
    }
  }

  pre {
    @apply  text-sm font-mono;
  }

  section.footnotes {
    @apply mt-4 p-4;

    &:before {
      @apply content-['Footnotes'] block text-2xl font-semibold mb-4;
      font-family: var(--font-title);
    }
  }

  blockquote {
    @apply p-3 bg-muted border-l-4 border-border text-foreground;

    p {
      @apply m-0;
    }
  }

  table {
    @apply w-full;

    thead {
      @apply bg-accent;

      th {
        @apply px-4;
      }
    }

    tbody {
      tr:nth-child(odd) {
        @apply bg-muted;
      }

      td {
        @apply px-4 py-1;
      }
    }

    th, td {
      @apply border border-border;
    }
  }

  .heading-anchor {
    @apply no-underline text-inherit decoration-muted-foreground decoration-2 underline-offset-4 decoration-dotted;

    &:hover {
      @apply underline;
    }
  }

  input[type="checkbox"] {
    @apply w-4 h-4 rounded-sm cursor-pointer inline-flex items-center justify-center appearance-none mt-1;

    
    &:disabled {
      background: #ddd;
      border-color: #aaa;
      cursor: not-allowed;

      &:before {
        @apply content-['⛌'] text-black scale-80;
      }
      
      &:checked {
        background: #4caf50;

        &:before {
          @apply content-['✓'] text-white scale-y-60;
        }

      }
    }
  }


}